 .image-text {
    position: absolute;
    display: inline-block;
 }
 .text-over {
    position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
        text-align: center;
        width: 60%;
 }